.header {
  font-weight: bold;
  padding-top: 30px;
  background-color: #1c2128;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  -webkit-font-smoothing: antialiased;
  -webkit-app-region: drag;
}